.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* ensures the video covers the whole viewport */
  z-index: -1; /* behind everything */
  pointer-events: none; /* allow clicks to pass through */
}

.title {
  margin: 0;
  color: rgba(0, 0, 0, 0.888);
  font-size: 8vw;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  z-index: 1;
  position: relative;
}